<!DOCTYPE html>
{% load static %}   <!-- Prepojenie adresara so statickymi subormi -->
<html lang="sk-sk">    <!-- Prepojenie adresara so statickymi subormi -->
<head>
    <meta charset="UTF-8">
    <title>Django Girls blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <div class="page-header">
        {% if user.is_authenticated %}  <!-- link sa zobrazí len užívateľom, ktorí sú prihlásení ako admin -->
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                    <!--  chceme zavolať naše nové view post_new. Trieda "glyphicon glyphicon-plus" je poskytnutá bootstrap-->
                    <!--  témou ktorú používame a ona zobrazí znamienko plus pre nás  -->
        {% endif %}
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %} <!-- vytvorili sme blok. Použil sa šablónový tag % block % -->
            {% endblock %}  <!-- blok je cast do ktorej bude vložené HTML.-->
            </div>          <!-- To HTML bude pochádzať z inej šablóny, ktorá rozšíri šablónu base.html -->
        </div>
    </div>
</body>
</html>