<!DOCTYPE html>
<html>
    <head>  <!-- Nainštalovanie Bootstrap-u t.j. frameworku pre HTML a CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <!-- Kombinacia html s nasimi sablonovymi tagami -->
        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
        <!-- Všetko čo bude v cykle sa bude opakovať pre každý objekt v zozname -->
    </body>
</html>