<!DOCTYPE html>
{% extends 'blog/base.html' %}  <!-- pridane cim znovu rozsirujeme base.html-->
<html lang="en">                <!-- ponechame povodne en miesto sk-sk -->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    <div class="post">
        {% if post.published_date %}    <!-- tag šablóny, ktorý môžeme použiť ak chceme niečo skontrolovať -->
            <div class="date">
                {{ post.published_date }}  <!-- chceme overit ci published_date príspevku nie je prázdny -->
            </div>
        {% else %}
                <!-- vlozenie tlacitka - buttonu Publish na publikovanie post-u -->
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
                <!-- vlozenie tlacitka - buttonu Publish na publikovanie post-u -->
            <a class="btn btn-default" href="% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                <!-- vlozenie tlacitka - buttonu krizik - Delete na zmazanie post-u -->
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
<!--        % if user.is_authenticated %} -- opatrenie aby editovaciu ikonu si videl iba ty -->
                    <!-- pridanie nasledujuceho riadku kvoli upravam post-ov -->
<!--            <a class="btn btn-default" href="% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a> -->
<!--        % endif %} -->
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}
</body>
</html>