<!DOCTYPE html>
{% extends 'blog/base.html' %} <!-- Prepojenie dvoch sablon t.j. rozsirenie jednej druhou -->
{% load static %}   <!-- Prepojenie adresara so statickymi subormi -->

<html>
        <head>  <!-- Nainštalovanie Bootstrap-u t.j. frameworku pre HTML a CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
             <!-- Odkaz na staticky subor ktory bude pouzity -->
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
            <!-- Doinstalovanie fontu Lobster ktory bude pouzity -->
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/lobster" type="text/css"/>

        <title>Django Girls blog</title>
    </head>
    <body>
    {% block content %} <!-- vlozena cast do bloku -->
            <!-- Toto chcem epouzit ako sucast sablony pre vsetky bloky -->
        {% for post in posts %}
            <div class="post">  <!-- Definovanie triedy post -->
                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                <div class="date">
                    <!-- "<p>published: { post.published_date }}</p> nahradene nasledovnym -->
                    {{ post.published_date }}
                </div>          <!--  link z titulku príspevku ma odkazovat na stranku detail -->

                            <!-- % % znamená, že používame tagy Django šablóny a to post_detail -->
                            <!-- Django bude očakávať URL v blog/urls.py s name=post_detail -->
                            <!-- pk je skratka pre primárny kľúč, ktorý určuje každý záznam v databáze -->
                            <!-- kedze sme pk nevytvorili v nasom post modely, Django to urobi za nas -->
                <p>{{ post.text|linebreaksbr }}</p>
                {{ post.tags }}  <!-- pridane  -->
            </div>
        {% endfor %}
            <!-- Všetko čo bude v cykle sa bude opakovať pre každý objekt v zozname -->
    {% endblock content %}
    </body>
</html>