        /*  Nasu farbu sme použili na akýkoľvek prvok a */
h1 a {
    color: #FCA205;
}
body {  /*  posunutie zaciatku textu o 15 bodov */
    padding-left: 15px;
}
h1 a {
    color: #FCA205;
    font-family: 'Lobster';
}
p {     /*  pouzitie novo instalovaneho fontu Lobster */
   font-family: 'LobsterRegular';
   font-weight: normal;
   font-style: normal;
}
.page-header {  /* nastylovanie triedy page-header  */
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}               /* nastylovanie h1, h1 a atd. v triede page-header  */
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}
.content {  /* nastylovanie triedy content  */
    margin-left: 40px;
}
h1, h2, h3, h4 {    /* nastylovanie h1 az h4  */
    font-family: 'Lobster', cursive;
}
.date {     /* nastylovanie triedy datumu  */
    color: #828282;
}
.save {     /* nastylovanie triedy save pre ulozenie  */
    float: right;
}           /* nastylovanie dalsich tried  */
.post-form textarea, .post-form input {
    width: 100%;
}           /* nastylovanie dalsich tried  */
.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}
.post {     /* nastylovanie triedy post  */
    margin-bottom: 70px;
}           /* nastylovanie dalsich tried  */
.post h1 a, .post h1 a:visited {
    color: #000000;
}